{% extends '_base.html' %}
{% load static %}

{% block title %}Nuomoju{% endblock title %}

{% block content %}
<h1> {{ technika.title}}</h1>
<p>{{ technika.author.first_name }} {{ technika.post_date|date:'Y-m-d ' }} <small><a href = "{% url 'edit_technika' technika.pk %}" > (Redaguoti) </a><a href = "{% url 'delete_technika' technika.pk %}" > (Ištrinti) </a></small> </p>




<p> {{ technika.body }} </p>
<p>   </p>
<br/>

<a href="{% url 'ieskau'  %}" class="btn btn-danger" >Atgal</a>
{% endblock content %}


<!--<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}"/>-->